
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    color: #212121;
}

.header{
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

ul{
    list-style: none;
    padding:0;
    margin: 0;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.webstudio_header {
    font-family: 'Raleway', sans-serif;
 
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    margin-right: 86px;

    letter-spacing: 0.03em;   
}

.webstudio_footer{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color:#ffffff;
    letter-spacing: 0.03em;
}

.webstudio_span{
    color:#2196F3;
}

.link  {
    color: #212121;
    text-decoration: none;
}
.link:hover ,.link:focus{
    color: #2196F3;
}

.adress_class{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #757575;
}

.idea_p{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    /* or 171% */
    letter-spacing: 0.03em;

    color: #757575;
}

.down_p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.buisness_h2{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button_usluga{
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #817070;
}

.antena{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.zanyatie{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;   
}

.decstop_app{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.mobile_app{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.design_app{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.command{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.client{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

address{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    }

    .site_nav{
        display: flex;
       
    }

    .site_nav__item{
        margin-right: 50px;
        margin-top: 32;
        margin-bottom: 32;
    }



    .k123{
        display: flex;
        align-items: center;
    }

footer{
    background: #2F303A;
    display: flex;
}