/** 
  
**/
:root {
  --primary_title_color: #212121;
  --seconary_title_color: #ffffff;
  --gray_title_color: #757575;
  --blue_title_color: #2196f3;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--primary_title_color);
  margin: 0;
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.back_pic {
  background: rgba(47, 48, 58, 0.8);
  background: url(../img/headpic.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.antena_section {
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
  padding-top: 94px;
}

.zanyatie_section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.command_section {
  padding-top: 94px;
  background: #f5f4fa;
}

.client_section {
  margin-top: 94px;
}

.webstudio_header {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 86px;
  margin-bottom: 25px;
  margin-top: 24px;
  text-decoration: none;
  color:black;
}

.webstudio_footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
  margin-top: 0;
  color: var(--seconary_title_color)}

.webstudio_span {
  color: var(--blue_title_color);
}

.link {
  color: #212121;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--blue_title_color);
}

.link_header {
  color: var(--gray_title_color);
  text-decoration: none;
  margin-right: 30px;
  font-style: normal;
  letter-spacing: 0.02em;
}
.link_header:hover,
.link_header:focus {
  color: var(--blue_title_color);
}

.link_number {
  color: var(--gray_title_color);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}
.link_number:hover,
.link_number:focus {
  color: var(--blue_title_color);
}

.link_footer_1 {
  text-decoration: none;
  letter-spacing: 0.03em;
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.link_footer_1:hover,
.link_footer_1:focus {
  color: var(--blue_title_color);
}

.link_footer_2 {
  text-decoration: none;
  letter-spacing: 0.03em;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.link_footer_2:hover,
.link_footer_2:focus {
  color: var(--blue_title_color);
}

.telegram_button {
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.06em;
  font-size: 16px;
  color: var(--seconary_title_color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  background: var(--blue_title_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
}

.telegram_button:focus {
  color: var(--gray_title_color);
}

.app_link {
  color: var(--seconary_title_color);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: grey;
  border-radius: 0px 0px 4px 4px;
  letter-spacing: 0.03em;
}

.address_header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--gray_title_color);
  margin-right: 0;
  margin-left: auto;
}

.idea_p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: var(--gray_title_color);
  margin-top: 10;
  margin-bottom: 0;
}

.command_p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: var(--gray_title_color);
  margin-bottom: 16px;
  margin-top: 10px;
}

.email_p {
  font-weight: normal;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 12px;
  
}

.connect_p {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-top: 0;
  color: var(--seconary_title_color);
}

.buisness_h2 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--seconary_title_color);
  margin-left: 477px;
  margin-right: 477px;
  margin-bottom: 46px;
  padding-top: 200px;
  margin-top: 0;
}

.buisness_h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--primary_title_color);
}

.button_usluga {
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--seconary_title_color);
  text-decoration: none;
  padding: 10px 32px;
  background: var(--blue_title_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 200px;
}

.antena {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.zanyatie {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.command_text {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.h3_1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.h3_2 {
  font-size: 18px;
  letter-spacing: 0.06em;

  color: #212121;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.card_p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--gray_title_color);
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.client {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

address {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.site_nav {
  display: flex;
}

.site_nav__item {
  margin-right: 50px;
  margin-top: 32;
  margin-bottom: 32;
}

.site_nav__item:last-child {
  margin-right: 0;
}

.k123 {
  display: flex;
  align-items: center;
}

.main_box {
  display: flex;
  margin-bottom: 50px;
  margin-top: 94px;
}

.box_margin {
  margin-right: auto;
  margin-left: auto;
}

.main_box_item {
  text-decoration: none;
  color: var(--primary_title_color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 6px 22px;
}
.main_box_item:last-child {
  margin-right: 0;
}

.main_box_item:hover,
.main_box_item:focus {
  color: var(--seconary_title_color);
  background: var(--blue_title_color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.magazine {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.magazine_item {
  background: var(--seconary_title_color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.magazine_item:nth-child(3n) {
  margin-right: 0;
}

.magazine_item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.s123_clients {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
}

.command_item {
  width: calc((100% - 33px) / 4);
  margin-right: 0;
  margin-bottom: 24px;
  margin-top: 16px;
}

.command_item:first-child {
  margin-left: 32px;
}

.command_item:last-child {
  margin-right: 0;
}

.buisness_item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.buisness_item:last-child {
  margin-right: 0;
}

.niga {
  display: flex;
}
.niga_item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.niga_item:last-child {
  margin-right: 0;
}

.white {
  display: flex;
  margin-bottom: 94px;
}

.white_item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background: var(--seconary_title_color);

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.white_item:last-child {
  margin-right: 0;
}

.client_item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client_item:last-child {
  margin-right: 0;
}

.footer_email_item {
  margin-right: 16px;
}

.footer_soc {
  display: flex;
}

.footer_soc_item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}

.footer_soc_item:last-child {
  margin-right: 0;
}

.footer_flex {
  margin-right: 94px;
}

.footer_flex_1 {
  margin-right: 69px;
  margin-bottom: 28px;
  margin-top: 48px;
  flex-direction: column;
}

.footer_flex_2 {
  margin-bottom: 50px;
}

.footer_last {
  display: flex;
}

.p_rassilka {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 0;
  color: var(--seconary_title_color);
}

.address_number {
  margin-top: 0px;

  font-style: normal;
}

.p_map {
  margin-top: 10px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: var(--seconary_title_color);
  letter-spacing: 0.03em;
}

footer {
  background: #2f303a;
}

.button {
  padding: 10px 32px;
  background: var(--blue_title_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
