.wbname {
    font-family: 'Raleway', sans-serif;
    text-align: left;

}

.link  {
    color: teal;
}
.link:hover ,.link:focus{
    color:orange;
}



.topline_content {
    position: absolute;
    width: 1600;
    height: 80;
    left: 0px;
    top: 0px; 
    text-align: left;

    background-color: #ffffff;
}